input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #212529;
}

body>.container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
  text-align: center;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}